

body{
	background-color: lightblue;
}

.menu{
	background-color: #4793ad;
	margin-top: 20px;
	float: top;
	width: 100%;
	height: 60px;

}

.img{
	margin-top: -15px;
	margin-right: 120px;
	float: top;
   border-radius: 50%;
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
button{
    border-color: #2196F3;
    width: 80px;
    height: 30px;
    float: right;
    margin-top: 11px;
    margin-right: 10px;

}

button:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.script{
	margin-top: 45px;
	margin-left: 11px;
	background-color: white;
}

.runb{
	border-color: #2196F3;
    width: 80px;
    height: 30px;
    float: left;
    margin-top: 11px;
    margin-left: 20px;
}